.container,
.containerAudit {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2em 6.83em 0;
  margin-top: 6em;
}
.title {
  color: #000;
  text-align: right;
  font-size: 6em;
  font-weight: 500;
  line-height: 115%;
}
.wrapper {
  position: relative;
  margin: 4.167em 0;
  padding: 4.167em 9.167em;
  border-radius: 2.5em;
  background: var(--white);
}
.subTitle {
  margin-bottom: 0.875em;
  font-size: 3.33em;
  font-weight: 500;
  line-height: 102%;
}
.description {
  font-size: 1.67em;
  line-height: 150%;
}
.cube {
  position: absolute;
  top: -17em;
  left: -23em;
  width: 43.5em;
  z-index: -1;
  animation: levitate 6s ease-in-out alternate infinite;
}
.section {
  background-color: var(--blue2);
}
.containerAudit {
  padding: 0 6.83em;
  margin: 0;
  flex-direction: row;
}
.wrapperAudit {
  padding: 4.16em 0;
}
.audit {
  width: 55em;
  margin-right: -15em;
}
.mob {
  display: none;
}
@keyframes levitate {
  from {
    transform: translate(0, 0);
    rotate: -5deg;
  }
  to {
    transform: translate(0.2em, 2em);
    rotate: 2deg;
  }
}
@media (orientation: portrait) {
  .container {
    padding: 0;
  }
  .title {
    font-size: 4em;
    margin-top: 1em;
  }
  .mob {
    display: block;
  }
  .cube {
    top: -22em;
    left: -6em;
    width: 30.5em;
  }
  .wrapper,
  .containerAudit {
    padding: 1.45em 3.63em;
  }
  .containerAudit {
    flex-direction: column;
  }
  .wrapperAudit {
    padding: 2.46em 0;
  }
}
