.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  background-color: var(--mainBg);
  opacity: 0.9;
  z-index: 1;
}
.logo {
  width: 13.58em;
}
.list {
  display: flex;
  align-items: center;
}
.item:not(:last-child) {
  margin-right: 2em;
}
.item {
  font-size: 1.25em;
  line-height: 1.333em;
}
.navLink {
  color: inherit;
  transition: all 0.3s ease-in-out;
}
.active,
.navLink:hover,
.navLink:focus {
  color: var(--blue);
}
.active {
  display: block;
}
.menu {
  position: relative;
  display: none;
  height: 1.1875em;
  cursor: pointer;
  z-index: 2;
}
.menuLineItem {
  position: absolute;
  height: 0.15em;
  width: 3em;
  border-radius: 1.95em;
  background-color: var(--black);
  transition: all 0.3s ease-in-out;
}
.menuLineItem:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%) rotate(0.01deg);
}
.menuLineItem:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0.01deg);
}
.menuLineItem:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%) rotate(0.01deg);
  transition: all 0.3s ease-in-out;
}
.active .menuLineItem:first-child {
  transform: translate(-50%, 0.28125em) rotate(45deg);
}
.active .menuLineItem:nth-child(2) {
  width: 0;
}
.active .menuLineItem:nth-child(3) {
  left: -1.5em;
  transform: translateY(-0.69375em) rotate(-45deg);
}
@media (orientation: portrait) {
  .menu {
    display: block;
  }
  .list,
  .mobSection {
    display: none;
  }
}
